<!--<div id="title">
	<div id="help">
		<a href="https://carl-adam.theoinf.tu-ilmenau.de/trac/swp_s14_18/wiki"> <img src="question.png" alt="Hilfe" /> </a>
	</div>
	<br />
</div>-->

<div id="top">Laufschrift online</div>
<div id="links">
    <div id="links_o_bg"></div>
	<div id="links_o">				
		<a href="#" class="button" id="sequence-new">Erstellen</a>
		<a href="#" class="button" id="sequence-load">Laden</a>
		<a href="#" class="button" id="sequence-save">Speichern</a>
		<a href="#" class="button" id="sequence-save-as">Speichern als …</a>
		<a href="#" class="button" id="sequence-delete">Löschen</a>
	</div>
	<div id="links_u">
	    <ul id="sequences">
		    <% @sequences.each do |sequence| %>
		    <li data-value="<%= sequence.id %>"><%= sequence.title %></li>
			<% end %>
		</ul>
		
	</div>
</div>



<div id="mitte">
<div id="mitteoben">
<div id="sequence-name">Sequenz 1</div></div>
<div id="mittemitte"><div id="sequence"><div id="sequence-inner"></div></div></div>
		<div id="debug"><div id="bug"></div><div id="debug-bg"><div id="debug-feld"><%= form_tag({controller: "sign", action:  "commit"}, remote: true, id: "commit-form") do %>
			<%= text_area_tag(:text, "", id: "commit-text",  size: "100%x1") %>
			<%= submit_tag("Los") %>
			<% end %></div></div>
		    
		</div>
</div>

<div id="toolbox_bg"></div>
<div id="toolbox">
    <div id="toolbox-inner">
</div>





